<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="tkrmagid">
    <meta name="email" content="tmdgks0466@naver.com">
    <meta name="title" content="<%- title %>">
    <meta name="description" content="<%- dec %>">
    <meta property="title" content="<%- title %>">
    <meta property="description" content="<%- dec %>">
    <meta property="site_name" content="<%- domain %>">
    <meta property="type" content="website">
    <meta property="locale" content="ko_KR">
    <meta property="url" content="<%- url %>">
    <meta property="image" content="//www.y2mate.com/themes/images/logo.png">
    <meta property="image:type" content="image/png">
    <meta property="image:alt" content="<%- dec %>">
    <meta name="og:title" content="<%- title %>">
    <meta name="og:description" content="<%- dec %>">
    <meta property="og:title" content="<%- title %>">
    <meta property="og:description" content="<%- dec %>">
    <meta property="og:site_name" content="<%- domain %>">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="ko_KR">
    <meta property="og:url" content="<%- url %>">
    <meta property="og:image" content="//www.y2mate.com/themes/images/logo.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:alt" content="<%- dec %>">

    <link rel="icon" href="//www.y2mate.com/themes/images/logo.png">

    <title><%- title %></title>